#uper{height: 56px;
    width: 853px;
    
    padding: 24px 0px 4px 56px;
    
    }
    #uper>img{height: 35px;
    width: 142px;
    }
#con{height: 461px;
width:480px;
border: 1ox solid black;
margin-left: 178px;
display: flex;
}
#create>form>input{height: 48px;
width: 100%;
margin-bottom: 16px;
font-size: 18px;
}
#term{color: blue;
font-weight: bold;
cursor: pointer;}

#sub{cursor: pointer;}

#redi{cursor: pointer;}


