
body{font-family: sans-serif;}
#container{height: 118px;
width: 100%;
background-color: rgb(255, 255, 255);
display: flex;
align-items: center;
padding-left: 4%;
padding-right: 4%;
border-radius: 10px;

}
#box{height:48px;
width: 100%;
background: rgb(255, 255, 255);
display: flex;}



#first{height:100%;
margin-right: 170px;
display: flex;
align-items: center;

}
.icon{height: 55%;
width:22px;
display:block ;
margin-left: 5px;
margin-right: 6px;}

.new{height: 30%;
width:40%;
display: block;
margin-left: 5px;}


#second{height: 100%;
width:600px;
display: flex;
}
#second>div{margin: auto;
font-size: 18px;}

#third{display: flex;
align-items: center;
margin-left:141px
}
#login{color: blue;
margin-right: 13px;
font-size: 19px;}
#getstart>button{height:48px;
width:160px;
background-color:#2c4bff;
border:none;
border-radius: 5px;

color: white;}
#getstart>button>p{font-size: 16px;}

/* top-----section***************Top___section_________-------$$$$$$$$$---------Topsection */


#top{height: 562px;
width:90%;
margin: auto;
background-color:peru;
display: flex;
padding: 10px;}


#top>div{height: 100%;
width: 45%;border:1px solid #2c4bff;}

#topright>img{}