
body{font-family: sans-serif;
letter-spacing: 0.6px;
padding: 0px;
margin: 0px;}
#container{height: 118px;
width: 100%;
background-color: rgb(255, 255, 255);
display: flex;
align-items: center;
padding-left: 4%;
padding-right: 4%;
border-radius: 10px;
margin-bottom: 4px;
position: fixed;
}
#box{height:48px;
width: 100%;
background: rgb(255, 255, 255);
display: flex;}



#first{height:100%;
margin-right: 170px;
display: flex;
align-items: center;
cursor: pointer;

}
.icon{height: 55%;
width:22px;
display:block ;
margin-left: 5px;
margin-right: 6px;}

.new{height: 30%;
width:20%;
display: block;
margin-left: 5px;}


#second{height: 100%;
width:600px;
display: flex;
}
#second>div{margin: auto;
font-size: 18px;
cursor: pointer;}

#third{display: flex;
align-items: center;
margin-left:141px
}
#login{color: blue;
margin-right: 13px;
font-size: 19px;
cursor: pointer;}
#getstart>button{height:48px;
width:160px;
background-color:#2c4bff;
border:none;
border-radius: 5px;
cursor: pointer;

color: white;}
#getstart>button>p{font-size: 16px;}

/* ----------------------------Navgiation  End--------------------------------------- */

/* top-----section***************Top___section_________-------$$$$$$$$$---------Topsection */

#top{height: 562px;
    width:90%;
    margin: auto;
    display: flex;
    padding: 10px;
    }
    #topleft{width:50%}
    
    #top>div{height: 100%;
   
    }
    
    #topright>img{height: 100%;
    width: 100%;}
    
 
      
        
    
    #topright{display: block;
        margin-left: 40px;
        width: 47%;
    }
    
    .dis1{margin-top: 32%;
        width:100%;
        font-size: 130%;
      }
    .para1{margin-top: 30px;
    margin-bottom: 30px;}

    .mybuttons{height: 48px;
    width: 100%;
margin-top: 20px;
display: flex;
}.mybuttons>button{width: 185px;
border-radius: 7px;
}
#getstart2{background-color: #2c4bff;
    font-size: 18px;
display: flex;
align-items: center;
border: none;
cursor: pointer;}
    #getstart2>p{margin: auto;color:white}

#watchvideo{display: flex;
height: 100%;
width:185px;
margin-left: 17px;
border:1px solid #2c4bff;
background-color: #fefefe;
border-radius: 6px;
align-items: center;
justify-content: center;
cursor: pointer;


}
#watchvideo>img{height: 45%;
width:12%;
display:flex;
align-self: center}
#watchvideo>p{display: block;
color: #2c4bff;
margin-left: 5px;}



/* ---------------Navigation----End----------- */ */


/* logo----section-- start--logo__section--------start */
#logo-container{height: 115px;
width: 100%;

display: flex;}
#logo-container{display: grid;
grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
gap:30px;
margin-bottom: 70px;
padding: 0px 20px 20px;
}
#logo-container>div{
display: flex;}
#logo-container>div>img{height:40%;
width: 70%;
display: block;
margin: auto;
opacity: 0.5;}

/* ////customer----section----part */
#customer{width: 46%;
text-align: center;
margin: auto;
margin-top: 120px;
display: block;
}
#customer>h1{font-weight:700;
letter-spacing: 0;
margin-bottom: 30px;
}
#analyze_img>img{display: block;
margin-top: 20px;}
    

/* ------------------------customer section end---------------------------- */
/* 
<!-- 
analyze-----plan-----respond-----celebrate-------Part-------&&&---analyze-----plan-----respond-----celebrate-------Part -->
 */

 /* analyze */

 #analyze_box{width: 980px;
height: 406px;
margin: auto;
margin-bottom: 70px;
margin-top: 110px;
display: flex;
}
#analyze_box>div{height: 100%;
width: 474px;
border:1px #2c4bff;}

#analyze_box>div>img{height: 100%;
width: 100%;}
.sub_box1{padding: 74px 0px;
margin-left: 16px;
text-align: start;
display: flex;}
.sub_box2{margin-left: 16px;}
.sub_box1>div>h2{
    display:block;
    font-size: 30px;
line-height: 44px;
text-align: left;
letter-spacing: 0.1;
font-weight:bolder;
margin-bottom: 30px;
}
.sub_box1>div>h3{
    color: blue;
    }
  #getstart_3{height: 100%;
    width: 179px;
    background-color: #2c4bff;
    font-size: 18px;
display: flex;
align-items: center;
border: none;
cursor: pointer;
}

#btn_con{display: flex;
height: 48px;
margin-top: 30px;
}
#getstart_3>p{font-size: 16px;
margin: auto;
color: white;}
#getstart_3{border-radius: 7px;
margin-right: 20px;}
   
#learn_more{height: 100%;
width:144px;
font-size: 18px;
display: flex;
align-items: center;
border: none;
cursor: pointer;
border: 1px solid blueviolet;
border-radius: 7px;

}
#learn_more>p{margin: auto;
    letter-spacing: 0.3px;
    color: blue;
   }

/* --------------------------------------------------------------------- */

   /* plan----section----plan */

   
 #plan_box{width: 980px;
    height: 365px;
    margin: auto;
    margin-bottom: 140px;
    margin-top: 110px;
    display: flex;
    }

   #plan_box>div{height: 100%;
        width: 474px;
        border:1px #2c4bff;}
        
#plan_box>div>img{height: 100%;
    width: 100%;}

    .plan_box1{padding: 74px 0px;
    margin-left: 16px;
    text-align: start;
    display: flex;}
    .plan_box2{margin-right: 16px;}

    .plan_box1>div>h2{
        display:block;
        font-size: 30px;
    line-height: 44px;
    text-align: left;
    letter-spacing: 0.1;
    font-weight:700;
    margin-bottom: 30px;
    }
    .plan_box1>div>h3{
        color: blue;
        }
/* ----------------------------------------------------- */

        /* _____-------$$       Engage --section----engage---section */

        #engage_box{width: 980px;
            height: 339px;
            margin: auto;
            margin-bottom: 70px;
            margin-top: 140px;
            display: flex;
            }
            #engage_box>div{height: 100%;
            width: 474px;
            border:1px #2c4bff;}
            
            #engage_box>div>img{height: 100%;
            width: 100%;}
            .sub_box1{padding: 74px 0px;
            margin-left: 16px;
            text-align: start;
            display: flex;}
            .en_box2{margin-left: 16px;}
            .en_box1>div>h2{
                display:block;
                font-size: 30px;
            line-height: 44px;
            text-align: left;
            letter-spacing: 0.1;
            font-weight:bolder;
            margin-bottom: 30px;
            }
            .en_box1>div>h3{
                color: blue;
                }
   /* -----------------engage---end--------------------- */




   /* --------$$$$-------celebrate----section---start----- */

#celeb_box1{width: 580px;
margin:auto;}

   .celeb{text-align: center;
color: blue;}

.celeb_tx{
    font-size: 30px;
line-height: 44px;
text-align:center;
letter-spacing: 0.1;
font-weight:bolder;}


/* -----blue-------bar----- */

#bar{padding:0px 20px;
display:flex;
justify-content: space-evenly;
align-items: center;
height:72px;
}
#bar>div>h2{font-size: 43px;
color: blue;
font-weight: 780;
}
#bar>div{text-align: center;
letter-spacing: 0.0;
height: 100%;}
/* --------------------------------- */


/* ------help---center--------- */


#footer{height: 268px;
width: 100%%;}
#footer-left{height: 100%;
width: 268px;
border: 1px solid black;
}

