#uper{height: 56px;
    width: 853px;
    
    padding: 24px 0px 4px 56px;
    
    }
    #uper>img{height: 35px;
    width: 142px;
    }
#con{height: 461px;
width:297px;
border: 1ox solid black;
margin-left: 56px;
display: flex;
}
#create>form>input{height: 48px;
width: 100%;
margin-bottom: 16px;
}

#sub2{background-color: #2c4bff;
border: none;
border-radius: 10px;
font-size: 21px;
letter-spacing: 0.8px;
 color: white;
cursor: pointer;}




#term{background-color: blue;}

#cre{cursor: pointer;}